:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
}

body {
    font-family: 'Piedra', sans-serif !important;
    background-color: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title{
    color: var(--mainBlue);
    font-family: 'Pacifico', cursive;
}
.text-blue{
    color: var(--mainBlue);
}

.text-light-blue{
    color: var(--lightBlue);
}

nav{
    background-color: var(--mainBlue);
}
nav .nav-link{
    color: var(--mainWhite);

}
.countBtn{
    border: 1px solid black;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
    margin: 2px;
    background-color:transparent;
}

.countBtn:hover {
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    margin: 2px;
    background-color:black;

}